.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 2rem;

  .board {
    display: grid;
    gap: clamp(0.5rem, 2vw, 1rem);
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    max-width: min(100%, 500px);
  }

  .board > * {
    aspect-ratio: 1;
    min-height: clamp(40px, 10vw, 100px);
  }
}
